<div class="content__contact">
    <div>
        <h1>Fernanda Nogueira</h1>
        <p>Programadora FrontEnd</p>
        <p> Formação em UX Designer pela Coursera - Certificação Google</p>

        <p>Cursando 5º Semestre em Engenharia de Software na Universidade Anhanguera</p>
        <ul>
           
            <li>
                Conhecimentos sólidos em HTML
            </li>

            <li>
                Conhecimentos sólidos em CSS
            </li>
            <li>
                Conhecimentos sólidos em JavaScript
            </li>
            <li>
                Conhecimentos sólidos em React
            </li>
            <li>
                Estudando React Native 
            </li>
            <li>
                Estudando Angular 
            </li>
            <li>
                Estudando Typescript
            </li>

        </ul>
    </div>
</div>
