<div class="content__contact">
    <div>
        <h1>{{name}}</h1>
        <img src={{photoCover}}>
        <p>{{email}}</p>
        <p></p>
        <p>{{location}}</p>
        <p>{{job}}</p>
        <p>Languages</p>
        <div>
            <ul>
                <li *ngFor="let item of languages | keyvalue">{{item.value}}</li>

            </ul>
        </div>
        <p>Education</p>
        <ul>
            <li *ngFor="let item of education  | keyvalue"> {{}}</li>
           
        </ul>
        <p> Formação em UX Designer pela Coursera - Certificação Google</p>

        <p>Cursando 5º Semestre em Engenharia de Software na Universidade Anhanguera</p>
        <ul>
           
            <li>
                Conhecimentos sólidos em HTML
            </li>

            <li>
                Conhecimentos sólidos em CSS
            </li>
            <li>
                Conhecimentos sólidos em JavaScript
            </li>
            <li>
                Conhecimentos sólidos em React
            </li>
            <li>
                Conhecimentos em Node
            </li>
            <li>
                Estudando React Native 
            </li>
            <li>
                Estudando Angular 
            </li>
            <li>
                Estudando Typescript
            </li>
            

        </ul>
    </div>
</div>
